.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.home , .search, .new, .menssagge, .profile {
  margin: 10px 18px 10px 18px;
  
}
.home path:hover, .search path:hover, .new path:hover, .menssagge path:hover ,.profile path:hover {
  fill: #7D4EE6;
  color: #7D4EE6;
}